* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Monospace;
  background-color: rgb(211, 211, 211);
  border-top: rgb(158, 158, 255) 10px solid;
  height: 100vh;
}

img {
  height: auto;
  width: 400px;
  margin: 0 auto;
  display: block;
  border-radius: 30px;
}

h1 {
  text-align: center;
  padding: 20px 0;
  background-color: rgb(224, 224, 224);
  font-size: 50px;
  margin-bottom: 25px;
  font-family: serif;
}

h2 {
  margin: 20px 0;
  margin-left: 15px;
}

p {
  margin-left: 15px;
}

h3 {
  margin: 20px 0;
  margin-left: 15px;
}

ol,
ul {
  margin-left: 25px;
}
