* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Monospace;
  background-color: rgb(211, 211, 211);
  border-top: rgb(158, 158, 255) 10px solid;
  height: 100vh;
}
h1 {
  margin: 20px;
  margin: 20px;
  margin: 20px;
  margin: 20px;
  margin: 20px;
  margin: 20px;
  margin: 20px;
}
